ul, ol, li, p{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{text-decoration: none;}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
figure, .figure, .picture{
    position: relative;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    width: 100%;
}
.picture > img,
.picture > iframe,
.picture > video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.ff-roboto{font-family: roboto;}
.ff-raleway{font-family: raleway;}
.ff-manrope{font-family: manrope;}
.btn-nav{
    background: rgba(250, 115, 53, 1);
}
.fs-14{
    font-size: 14px;
}
.me-66{
    margin-right: 66px;
}
.nav-link-home{
    color: rgba(250, 115, 53, 1) !important;
}
.nav-btn-hover:hover{
    color: #fff !important;
    background-color: rgb(222, 147, 112) !important;
}
.header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.75);
    position: relative;
    z-index: 2;
}

.hero-section {
    position: relative;
    background-image: url('../images/background_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% - 60px);
    margin: 0 auto;
    border-radius: 24px;
    z-index: 1;
    background-position: bottom center;
}
/* .px-42{
  padding: 0 42px;
  margin: 0 auto;
} */


/* .hero-padding{
    padding-top: 142px;
} */

.bg-travel{
    font-family: manrope;
    background: rgba(254, 250, 23, 1);
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    margin-top: 142px;
    margin-bottom: 20px;
}
.hero-h1{
    max-width: 474px;
    color: black;
    font-family: Raleway;
    font-weight: 800;
    font-size: 52px;
    line-height: 61px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 20px;
}
.hero-li{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
}
.text_orange{
    color: rgba(250, 115, 53, 1) !important;
}
.btn-discover{
    background-color: rgba(250, 115, 53, 1) !important;
}
.gap-80{
    gap: 80px !important;
}
.know_us_h2{
    /* margin: 0 auto; */
    max-width: 514px;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
}
.know_us_p{
    margin: 0 auto;
    max-width: 578px;
    line-height: 24px;
    vertical-align: middle;
}
.know_us_strong{
    margin: 0 auto;
    padding: 24px 92px 53px 32px;
    background: rgba(222, 242, 240, 1);
}
.know_us_strong strong{
    line-height: 29px;
    vertical-align: middle;
}
/* .gap-122{
    gap : 122px;
} */
.icon-text{
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(52, 88, 103, 1);
}
.temp_par{
    margin: 0 auto;
    max-width: 647px;
}
.destination_p{
    font-family: Raleway;
    font-size: 14px;
    line-height: 24.01px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(250, 115, 53, 1);
}
.destination_h1{
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
}
.card-body{padding: 0;}



.team_heading{
    max-width: 591px;
    margin: 0 auto;
}
.meet_team .members .member_block{
    position: relative;
    padding: 24px 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.member_pf img{
    border: 1px solid rgba(1, 46, 65, 1);
    border-radius: 50%;
    padding: 16px;
}
.meet_team .members .member_block::after{
    width: 100%;
    height: 49%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #012E41;
    content: '';
    z-index: -1;
    border-radius: 8px;
}
.team_h3{
    font-family: roboto;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
}
.team_p{
    font-family: roboto;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}








.mt-120{margin-top: 120px;}
.img-wrapper {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-box {
  color: white;
  margin-top: 1rem;
}

.rounded-icon-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

/* Background color examples */
.bg-blue { background-color: #cfdffe; }
.bg-green { background-color: #c9fbd2; }
.bg-pink { background-color: #fde2e4; }
.bg-purple { background-color: #e4d2f9; }

.text-orange{
    color: #FA7335;
}
.fs-48{font-size: 48px;}
.fs-14{font-size: 14px;}
.icon-bottom-left {
  width: 34px;
  height: 34px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.center-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.tour .container h1{
    color: rgba(1, 46, 65, 1);
    line-height: 58px;
    vertical-align: middle;
}
.tour_info{
    display: flex;
    flex-direction: column;
}
.pt-60{padding-top: 60px;}
.custom_button{
    line-height: 24px;
    vertical-align: middle;
}
.location span{line-height: 24px;vertical-align: middle;}
.mt-30{margin-top: 30px;}
.mb-30{margin-bottom: 30px;}
.fs-14{font-size: 14px;}

/* modified */
.destination_2{
    margin-top: 148px;
}
.dest_heading_p{
    color: rgba(250, 115, 53, 1);
    font-size: 14px;
    font-weight: 500;
    font-family: raleway;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
}
.dest_heading_h1{
    max-width: 522px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    color: rgba(1, 46, 65, 1);
}



.mt-60{margin-top: 60px;}
.object-fit-cover {
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: white;
}

.overlay-text h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  font-family: Roboto, sans-serif;
}

.overlay-text p {
  font-size: 14px;
  line-height: 24px;
}
.row_gap{
    margin-bottom: 29px;
}
.dest_btn{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.dest_btn a{
    border-radius: 4px;
    border: 1px;
    color: white;
    background: rgba(1, 46, 65, 1);
    padding: 9px 26px;
    font-weight: 400;
    font-family: 14px;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

/* trendong section start */
.trending{
    margin-top: 19px;
    padding: 148px 0;
}
.trending_heading{
    margin: 0 auto;
    max-width: 546px;
}
.trending_p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}
.trending_h1{
    color: rgba(1, 46, 65, 1);
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
}
.trending_card{margin-top: 60px;}
.trending_card_1{
    display: flex;
    gap: 24px;
}
.trending_content{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}
.trending_content .rating{
    display: flex;
    gap: 4px;
    align-items: center;
}
.trending_content .rating p{
    font-weight: 400;
    font-size: 14px;
    color: rgba(1, 46, 65, 1);
    line-height: 24px;
    vertical-align: middle;
}
.trending_rupee{
    font-size: 20px;
    color: rgba(1, 46, 65, 1);
    line-height: 24px;
    vertical-align: middle;
}
.trending_rupee small{
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
}
.trending_btn{
    background: rgba(38, 165, 158, 1);
    color: white;
    padding: 5px 17px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: center;
}
.r_p{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.row_gap_trending{
    row-gap: 24px;
}


.testimonial{
    margin-top: 120px;
}
.testimonial_p{
    color: rgba(250, 115, 53, 1);
    font-size: 14px;
    font-weight: 500;
    font-family: raleway;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
}
.testimonial_h1{
    max-width: 576px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    color: rgba(1, 46, 65, 1);
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1076px;
  padding: 0 178px;
  border: 1px solid rgba(38, 165, 158, 1); 
  border-radius: 10px;
  position: relative;
  margin: 100px auto;
  background-color: #f9fbfd; 
}
.profile-pic {
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid white; 
  background-color: white;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-content {
    margin-top: 105px;
    text-align: center;
}

.quote {
  font-size: 16px;
  line-height: 1.5;
  color: #4a5a6a; 
  margin-bottom: 20px;
  max-width: 714px;
  font-family: roboto;  
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #1a2b3c; 
  margin-bottom: 5px;
  font-family: raleway;
}

.title {
  font-size: 14px;
  color: #6a7a8a; 
  font-family: roboto;
  margin-bottom: 61px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.arrow {
  background-color: #e5e7eb; 
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #4a5a6a;
  cursor: pointer;
  border-radius: 5px;
}

.left-arrow {
  position: absolute;
  left: -20px; 
}

.right-arrow {
  position: absolute;
  right: -20px; 
}

/* faq section */
.faq{
    padding-top: 120px;
    background-color: #F6F6F6;
}
.faq_main{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 82px;
}
.faq_p{
    color: #FA7335;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 4px;
}
.faq_h1{
    color: #012E41;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;
    max-width: 522px;
    margin-bottom: 60px;
    text-align: start;
}
/* .accordion { 
    padding-left: 82px;
} */
.horizontal_line{
    background-color: #26A59E;
    width: 753px;
    height: 4px;
    top: 140px;
}
/* faq responsiveness */
@media (max-width: 1400px){
    .horizontal_line{
        width: 570px;
    }
}

@media (max-width: 1199px){
    .faq{
        text-align: center;
        margin: 0 auto;
    }
    .faq_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .faq_h1{
        margin: 0 auto;
    }
    .horizontal_line{
        width: 100%;
    }
}
@media (max-width: 991px){
    .faq_h1{
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
}
@media (max-width: 767px){
    .faq_h1{
        font-size: 28px;
        line-height: 38px;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 575px) {
    .faq_h1 {
        font-size: 24px;
        line-height: 38px;
        margin: 0 auto;
        text-align: center;
    }
}

/* blog start */
.blog{margin-top: 120px;}
.blog_heading{max-width: 622px;margin: 0 auto;}
.blog_p{
    font-size: 14px;
    font-weight: 500;
    font-family: raleway;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}
.blog_h1{
    font-size: 48px;
    font-family: 600;
    font-family: roboto;
    line-height: 58px;
    text-align: center;
    vertical-align: middle;
    color: rgba(1, 46, 65, 1);
}
.overlay_date{
    position: absolute;
    top: 24px;
    left: 24px;
    background-color: rgba(250, 115, 53, 1);
    height: 64px;
    width: 56px;
    border-radius: 4px;
}
.overlay_date p{
    padding-top: 8px;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
}
.custom_card{margin-top: 60px;}
.card_img .picture{
    padding-top: 63%;
}
.card_content{
    margin-top: 24px;
    padding: 0 25px;
    max-width: 366px;
}
.card_p{
    font-family: roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
}
.card_h5{
    padding-top: 8px;
    font-family: roboto;
}
.blog_profile{
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
}
.blog_profile h5{color: rgba(1, 46, 65, 1);}
.blog_profile p{
    color: rgba(1, 46, 65, 1);
    font-size: 16px;
    font-weight: 600;
    font-family: roboto;
    line-height: 19px;
    vertical-align: middle;
}


/* subscribe section */
.subscribe{
    margin: 120px 0;
    padding: 60px 93px;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.subsribe_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.subscribe_h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    vertical-align: middle;
    color: white;
}
.subscribe_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    max-width: 394px;
    color: white;
    padding: 16px 0;
}
.subscibe_btn{
    max-width: 500px;
    margin: auto 0;
}
.subscibe_btn button{
    background-color: rgba(1, 46, 65, 1);
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    
}





@media (max-width : 992px){
    .temp{
        position: absolute;
        top: 100%;
        background: white;
        width: 100%;
        padding: 0 20px;
    }
    
    .team_card::after{width: 100%; height: 55%;}
    .feature-col {
    text-align: center;
    }
    .feature-box {
    justify-content: center;
    }
    /* .custom_gap{gap: 30px;} */
}
@media (max-width: 768px) {
    .hero-h1{font-size: 41px;}
    .custom_row{
        display: flex;
        row-gap: 10px;
        text-align: center;
    }
    .feature-box{align-items: center;}
    .team_card::after{width: 100%; height: 55%;}
    .custom_tour_h3{font-size: 22px;}
    .custom_tour_span{font-size: 12px;}
    .fs-14{font-size: 12px;}
    .custom_rupee{font-size: 18px;}
    .price{flex-direction: column;gap: 10px;}
    .custom_trip_btn{padding-top: 10px;}

}
@media (max-width: 992px) {
    .custom_row{
        display: flex;
        row-gap: 10px;
        text-align: center;
    }
    .know_us_h2{font-size: 40px;}
    .feature-box{align-items: center;}
}
@media (max-width: 575px){
    .member_pf img{height: 150px; width: 150px;}
    .member_block{padding: 51px 20px 23px !important;}
    .custom_hero_img{flex-direction: column;width: 150px;}
    .custom_tour_h3{font-size: 18px;}
    .know_us_strong{padding: 24px;}
    .custom-dest{align-items: center;text-align: center;}
}